.card {
  background-color: $veryDarkBlueCardBg;
  border-radius: 0.9375rem;
  &__image {
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1.625rem;
    div {
      position: relative;
      height: 17.5rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      &::before {
        content: url("./../../images/icon-view.svg");
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $cyan;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: $default-transition;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  &__title {
    font-size: 1.375rem;
    font-weight: $fw-lg;
    transition: $default-transition;
    margin-bottom: 1.25rem;
    cursor: pointer;
    &:hover {
      color: $cyan;
    }
  }

  &__description {
    font-size: 1.125rem;
    font-weight: $fw-sm;
    color: $softBlue;
    line-height: 1.5;
    margin-bottom: 1.625rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .price {
      display: flex;
      padding: 0.3125rem;
      color: $cyan;
      align-items: center;
      img {
        margin-right: 0.3125rem;
        height: 18px;
      }
    }

    .publish-date {
      display: flex;
      padding: 0.3125rem;
      color: $softBlue;
      align-items: center;
      img {
        margin-right: 0.3125rem;
        height: 17px;
      }
    }
  }

  hr {
    border: 1px solid $veryDarkBlueLine;
    margin-top: 0px;
    margin-bottom: 0.75rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 17px;
    .avatar {
      div {
        width: 1.875rem;
        height: 1.875rem;
        background-size: cover;
        background-position: center center;
        border: 1px solid $white;
        border-radius: 50%;
      }
    }

    span {
      color: $softBlue;
      a {
        text-decoration: none;
        color: $white;
        transition: $default-transition;

        &:hover {
          color: $cyan;
        }
      }
    }
  }
}
