// primary colors
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

//Neutral colors

$veryDarkBlueMainBg: hsl(217, 54%, 11%);
$veryDarkBlueCardBg: hsl(216, 50%, 16%);
$veryDarkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Font Weights

$fw-sm: 300;
$fw-md: 400;
$fw-lg: 600;

//default transition

$default-transition: all 300ms ease-in-out;
